<header class="header">
  <h1>NOTE APP</h1><a class="button__blue" href="/notes">新規作成</a>
</header>
<ul class="memo_list">
  <% @conn.exec("SELECT * FROM notes") do |result| %>
    <% result.each do |row| %>
      <li><a href="notes/<%= row["id"] %>"><%= row["title"] %></a></li>
    <% end %>
  <% end %>
</ul>

