<!DOCTYPE html>
<html lang="ja">
<head>
    <mata charset="utf-8">
    <title>MEMO APP</title>
</head>
<body>
    <h1>MEMO APP</h1>
    <ul>
    <% @data_list.each do |data| %>
        <li><%= data["title"] %></li>
        <a href="/show/<%= data["id"]%>">詳細ページへ</a>
        <a href="/delete/<%= data["id"]%>">削除する</a>
    <% end %>
    </ul>
    <a href="/new">新規作成</a>

</body>
</html>
