<!DOCTYPE html>
<html lang="ja">
<head>
    <mata charset="utf-8">
    <link rel="stylesheet" href="/style.css" />
    <title>MEMO APP</title>
</head>
<body>
    <h1>MEMO APP</h1>
    <%= yield %>
</body>
</html>
