<form method="post" action="/notes/<%= @data[:id]%>">
  <input type="hidden" name="_method" value="DELETE">

  <div class="memo__detail">
    <div class="memo__title"><%= @data[:title] %></div>
    <div class="memo__content"><%= @data[:content] %></div>
  </div>
  <div class="button__wrap">
    <div class="button__red button__submit">
      <input type="submit" value="削除する">
    </div>
    <a class="button__blue" href="/notes/<%= @data[:id]%>/edit">編集する</a>
  </div>
</form>
